body {
  display: flex;
  justify-content: center;
}

.initialPageMain {
  width: 100vw;
  height: 81vh;
  padding: 160px 0 0 0;
  background-color: var(--gray-4);
}

.infoDiv {
  max-width: 331.5px;
  margin: 0 auto;
  animation: mainAnimation 2s;
}

.financasImg {
  margin: 30px 0px 28px 0px;
}

.infoDiv p {
  margin: 0 0 28px 0;
  color: white;
  font-size: 1rem;
}

.goToDashboardBtn {
  width: 80%;
  height: 48px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.imgDiv {
  display: none;
}

@keyframes mainAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 940px) {
  .initialPageMain {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 0 0;
  }

  .infoDiv {
    height: 306px;
    margin: 0;
  }

  .imgDiv {
    display: block;
    height: 593px;
    animation: imgAnimation 2s;
  }

  .goToDashboardBtn:hover {
    background-color: var(--gray-1);
    color: var(--color-primary-2);
    transition: 750ms;
  }

  .goToDashboardBtn:not(:hover) {
    transition: 750ms;
  }

  @keyframes imgAnimation {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
